*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

:root{

}
body{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#form{
    width: 30vw;
    /* min-height: 50vh; */
    border: 2px solid red;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
    /* grid-template-rows: auto; */
}
.grid12{
    grid-column: 3/11;
    border: none;
    border-bottom: 1.6px solid rgb(161, 157, 157)
}
.btn-forget{
    grid-column: 3/7;
    font-size: 0.9rem;
    align-self: end;
    /* padding-top: 0.4rem; */
}
.btn-login{
    grid-column: 7/11;
    font-size: 1.4rem;
    /* padding: 0; */
}
.grid12,
button{
    height: 2.5rem;

}