*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

:root{

}
body{
    font-size: 16px;
    /* font-family:'Times New Roman', Times, serif; */
}

#form{
    width: 35vw;
    /* border: 2px solid red; */
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
    /* font-family: ; */
}
.grid12{
    grid-column: 3/11;
    border: none;
    border-bottom: 1.6px solid rgb(161, 157, 157);
    padding-left: 0.5rem;
}
.btn-forget{
    grid-column: 3/7;
    font-size: 0.9rem;
    align-self: end;
    /* padding-top: 0.4rem; */
}
.btn-login{
    grid-column: 7/11;
    font-size: 1.2rem;
    background-color: rgb(156, 159, 157);
    border: none;
    border-radius: 0.3rem;
    transition: background-color 900ms;
}
.btn-login:hover{
    background-color: rgb(68, 151, 68);
    cursor: pointer;
}
.grid12,
button{
    height: 2.5rem;

}
.bi{
    margin-left: -1.5rem;
    margin-top: 0.8rem;
}
.bi:hover{
    cursor: pointer;
}
